{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <span class="navbar-brand">Hello {{ user.username }}!</span>
        </li>
        <a href="{% url 'userinfo' %}" class="nav-link active">
        <li style="margin-left:15px; margin-right:15px">
            <span class="fas fa-cog"></span>
        </li>
            </a>
        <li class="active">
            <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link"><span class="fas fa-sign-out-alt"></span> Log off</a>
        </li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li class="active">
        <a href="{% url 'login' %}" class="nav-link">
            <span class="fas fa-sign-in-alt"></span> Login
        </a>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
    </li>
</ul>

{% endif %}
