{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h3>
            <i class="fas fa-store-alt"></i>
            {{ title }}
        </h3>
    </div>
    <hr />
    <div class="row justify-content-center">
        <form action="." method="post">
            {% csrf_token %}
            <input  id="query" type="text" name="query"  placeholder="Search..." >
            <button class="btn btn-primary" id="search_submit" type="submit" >Submit</button>
        </form>
    </div>
    </br>
    <div class="row">
        {% for restaurant in restaurants %}
        <div class="col-md-4" style="text-align: center; margin-bottom: 20px">
            <img class="img-thumbnail" src="{{ restaurant.img.url }}" width="250" height="250">
            <h4>{{ restaurant.name }}</h4>
            <h5>{{ restaurant.city }}</h5>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
